#map { height: 360px; }
#chart {
    width:100%;
    min-width: 310px;
    max-width: 600px;
    margin: 0 auto;
}
body {
    background-color: rgb(234, 234, 234);
}
.container {
    padding-top: 100px;
}

#reportrange {
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin-top: 10px;

}

.twitter-tweet .twitter-tweet-rendered{
    height:200px !important;
}

