<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../../../favicon.ico">-->

    <title>Social Smart Meter</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
        crossorigin="" />

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />

    <!-- Custom styles for this template -->
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Social Smart Meter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Total </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="specific?category=mobility">Mobility</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="specific?category=dwelling">Dwelling</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="specific?category=food">Food</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="specific?category=leisure">Leisure</a>
                </li>
            </ul>
        </div>
    </nav>

    <div role="main" class="container">

        <div class="row">
            <div class="col-md-8">
                <div id="map" data-centroid="{{centroid}}" data-category="{{category}}"></div>
            </div>
            <div class="col-md-4">
                <div id="chart"></div>
            </div>
        </div>

        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div id="reportrange" class="text-center" >
                    <span></span> <b class="caret"></b>
                     &nbsp;<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-10 offset-md-1">
                <h1 id="area">{{city|title}} - {{category|title}} Energy Consumption</h1>
            </div>
        </div>

    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>


    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
        crossorigin=""></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="{{ url_for('static', filename='js/specific.js') }}"></script>

</body>

</html>